
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
        
body {
    background-color: #48e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ------SECCIÓN HEADER------*/
.header {
    background-color: #48e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
    position: sticky;
    top: 0; 
    z-index: 10;
    border-radius: 4px;
    padding: 10px 0;
}

.header__open-nav-button {
    color: #fff;
    text-shadow: -1px -1px 0 #48e, 1px -1px 0 #48e, -1px 1px 0 #48e, 1px 1px 0 #48e;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    cursor: pointer;
    }

.header__checkbox {
    display: none;
}

.header__nav {
    display: none;
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
}

.header__nav-list img {
    width: 40px;
    margin-bottom: 5px;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.header__title-container {
    max-width: 100%;
    color: #fff;
    padding-left: 20px;
    }

.header__nav-item {
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__nav-item a {
    color: #48e;
    text-decoration: none;
}

.header__nav-item :is(:hover,:active) {
    text-decoration: underline;
}

/* ------HEADER QUERIES------*/
@container header (min-width: 600px) {
    .header__nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
        background-color: #48e;
    }

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin-right: 20px;
    }

    .header__open-nav-button {
        display: none;
    }

    .header__nav-item a {
        color: #fff;
    }
}

/* ------CONTENIDO PRINCIPAL------*/
.container__content {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app h1 {
    font-weight: 25px;
    color: #48e;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.pregunta {
    padding: 20px 0;
}

.pregunta img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}
.pregunta h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn {
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}
.btn:disabled {
    cursor: no-drop;
}
#next-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    display: block;
}

.next-exam {
    text-decoration: none;
    font-weight: inherit;
    background-color: #fff;
    color: #001e4d;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    display: block;
    text-align: center; /* Para centrar el texto */
}
.next-exam:hover {
    background-color: #48e;
    color: #fff;
}

.correcto {
    background-color: #9aeabc;
}
.incorrecto {
    background-color: #ff9393;
}

#next-btn:hover {
    background-color: #fff;
    color: #001e4d;
    border: 1px solid #001e4d;
}

/* ----- Estilos del pie de página ----- */
.site-footer {
    background-color: #18233f;
    color: #fffa;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1rem;
    width: 100%;
    margin-top: auto; /* Esto asegura que el footer se pegue al fondo */
}

.site-footer ul {
    margin-top: 0.5rem;
    list-style: none;
}

.site-footer li {
    color: #48e;
    margin: 5px 0;
}
.site-footer a {
    color: #48e;
    text-decoration: none;
    transition: color 0.3s;
}
.site-footer a:hover {
    color: #fff;

}
